header {
  background-color: var(--bg-primary);
  padding: 0.2em 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.navbar {
  width: 80%;
  max-width: 1200px;
  font-size: 1.2rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 1.8rem;
}

.navbar__menu {
  background-color: var(--bg-primary);
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navbar__links {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 0 auto;
}

.navbar__icon {
  display: none;
}

a,
a:link,
a:visited {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: var(--color-secondary);
}

@media screen and (max-width: 900px) {
  .navbar__logo {
    margin-left: 0.3125em;
  }
  .navbar__icon {
    display: block;
    margin-right: 0.3125em;
  }
  .navbar {
    position: relative;
    width: 100%;
  }

  .navbar__menu {
    position: absolute;
    top: 47px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 0.3em 0;
    z-index: 1;
    display: none;
  }
  .active {
    display: flex;
    gap: 0.5em;
    border-top: 0.1em solid var(--color-primary);
  }

  .navbar__links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }
  .navbar__links::after {
    content: "";
    height: 0.1em;
    width: 10em;
    background-color: var(--color-secondary);
  }
}
