/* https://colorhunt.co/palette/d8e3e751c4d3126e82132c33


*/

header {
  background-color: rgb(216, 227, 231);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: rgb(18, 110, 130);
}

nav ul {
  display: flex;
}
nav ul li {
  margin: 1rem;
}
a {
  color: rgb(81, 196, 211);
  text-decoration: none;
}
