/* https://colorhunt.co/palette/d8e3e751c4d3126e82132c33


*/

header {
  background-color: rgb(216, 227, 231);
  display: flex;
}

h1 {
  color: rgb(18, 110, 130);
}

a {
  color: rgb(81, 196, 211);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
