/*cart item style*/
.cartItem {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0.2em 0;
  padding: 0.5em;
  border-radius: 5px;
  background-color: white;

  border: 1px solid rgb(0, 255, 255);
}
