@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url(./variables.css);

/*
font-family: "Montserrat", sans-serif;
Light 300
Regular 400
Bold 700 Italic
*/

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  border: none;
  color: var(--color-white);
  background-color: var(--bg-primary);
  border-radius: 5px;
  padding: 1.125em;
}

.btn:hover {
  background-color: var(--color-a-hover);
}
.btn-border {
  cursor: pointer;
  background-color: transparent;
  border: 0.1em solid var(--color-primary);
  border-radius: 5px;
  padding: 1.025em;
}
.btn-border:hover {
  background-color: var(--bg-light);
}

.shadow {
  box-shadow: 2.8px 2.8px 2.2px rgba(220, 214, 247, 0.02),
    6.7px 6.7px 5.3px rgba(220, 214, 247, 0.028),
    12.5px 12.5px 10px rgba(220, 214, 247, 0.035),
    22.3px 22.3px 17.9px rgba(220, 214, 247, 0.042),
    41.8px 41.8px 33.4px rgba(220, 214, 247, 0.05),
    100px 100px 80px rgba(220, 214, 247, 0.07);
}
