:root {
  --color-primary: #141850;
  --color-secondary: #ed7966;
  --color-white: white;
  --bg-primary: white;
  --bg-secondary: #75c9b7;
  --bg-light: rgba(253, 253, 253, 1);
  --btn-color-primary: #ed7966;
  --color-accent: #ffe26a;
}

/*
#fae5df #f5cac2 #ed7966 #303179 #141850
*/
