:root {
  --color-primary: rgb(66, 72, 116);
  --color-secondary: rgb(250, 238, 255);
  --color-three: #a6b1e1;
  --color-white: white;
  --bg-primary: #a6b1e1;
  --bg-secondary: rgba(244, 238, 255, 0.8);
  --bg-light: rgb(245, 221, 255);
  --btn-color-primary: #ed7966;

  --color-a-hover: rgb(66, 72, 116);
}
/*
4 rgb(250, 238, 255)
3 rgb(220, 214, 247)
2 rgb(166, 177, 225)
1 rgb(66, 72, 116)
*/
