.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.counter__function {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter__button {
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  padding: 0 !important;

  /* padding: 0.1em 0.3em; */
}

.counter__button::hover {
  background-color: var(--color-primary);
}
.counter__number {
  cursor: default;
  border: 0.1rem solid var(--color-primary);
  border-radius: 5px;
  background-color: rgba(255, 255, 255 0.5);
  font-size: 2rem;
  text-align: center;
  padding: 0.1em 0.8em;
}
.card__button-addCart {
  width: 50%;
}
