/* CartForm Styles*/
.cartForm {
  width: 50%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: 3em auto;
  padding: 2em 0;
  background-color: var(--bg-secondary);
  border-radius: 10px;
}
.cartForm__label p {
  padding-bottom: 0.2em;
}

.cartForm__btn {
  margin-top: 3em;
}

@media screen and (max-width: 900px) {
  .cartForm {
    width: 100%;
  }
}
